@import 'tailwindcss' source('./');
@import 'example-common/theme.css';

@source "../../../packages/example-common/src/**/*.{svelte,js,ts}";

html {
	/* Base font size for fine pointers (desktop/mouse) */
	font-size: 16px;
	overscroll-behavior: none;
	@apply h-full;
	@apply w-full;
}

@media (pointer: coarse) {
	html {
		font-size: 18px;
	}
}

body {
	@apply h-full;
	@apply w-full;
	@apply text-base;
	overscroll-behavior: none;
}
