@import url('https://use.typekit.net/ixr7lrv.css');
@import 'tailwindcss';

@font-face {
	font-family: 'Berkeley Mono Variable';
	src: url('/Berkeley Mono Variable.woff2') format('woff2-variations');
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-mono: 'Berkeley Mono Variable', monospace;
	--font-sans: 'neue-haas-unica', sans-serif;
}

:root {
	interpolate-size: allow-keywords;
}
